body {font: 14px; font-family: "Museo Sans Rounded 500", Helvetica, Arial, sans-serif !important;}
.container {padding: 20px; background: #2ca; color: #fff;}
.container img {float: left; margin-right: 10px; width: 16px;}