body {font: 14px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
.span12 {padding: 20px; margin-bottom: 10px; background: #2ca; color: #fff; text-align: center;}
span {padding: 10px; color: #fff; text-align: center; margin-bottom: 10px; display: block;}